header {
   display: flex;
   text-decoration: none;
   background-color:rgb(26, 26, 169);
   
}
header ul{
list-style-type: none;
color: white;

}
header a{
    text-decoration: none;
    color: white;
}
header img{
    height: 300px;
}

.text{
    color: white;
    
}
.second{
    display: flex;

}
.second h2{
    text-align: center;
}
.box{
    width: 200px;
    height: 200px;
    border: 1px solid;
}
