.header *{
background-color: #1f2937;
color: white;
display: flex;
align-items: center;
justify-content: space-between;

}

.header nav ul {
    display: flex;
    list-style: none; 
  }

.header nav ul li {
    margin: 10px; 
  }

.header nav ul li a {
    text-decoration: none; 
  }

.header nav h2{
    margin-top: 10px;
}
.sub-header *{
    display: flex;
    padding: 10px;
}

.sub-header h1{
    font-size: 48px;
    color: white;
 
}

.sub-header button a{
    color: white;
    text-decoration: none;
}

.sub-header button{
    background-color: #3882f6;
}

.body{
  margin: 20px;
}

.boxes {
  display: flex;
  justify-content: space-around;
}

.box {
  width: 200px;
  height: 200px;
  border: 2px solid #333;
  border-radius: 10px;
  margin: 10px;
  position: relative;
  border-color: #3882f6;
  margin-bottom: 50px;
}

.box p {
  position: absolute; 
  bottom: -55px; 
  left: 0;
  right: 0;
  text-align: center;

}

.sub-body{
  
  margin-top: 20px;
}
.sub-body {
  color: #E5E7EB;
}

.sub-body p{
  font-size: 36px;
  margin: 150px;
}

footer{
  display: flex;
  justify-content: center;
  justify-content: space-around;
}