header{
   display: flex;
   flex-direction: row;
   text-align: right;
   text-decoration: none;
   background-color:gray;
   
}
header ul{
list-style-type: none;

}
header a{
    text-decoration: none;
}
header img{
    height: 200px;
    width: 200px;
}